# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# ML Models
*.pkl
*.joblib
models/

# Logs
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

*.pdf
reports/